{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
        <h1>Makaleler</h1>
        <hr>
        </div>
    </div>
</div>

{% if articles %}
    {% for article in articles %}
        <div class="row">
            <div class="col-md-10 offset-md-3">
                <!-- Post Content Column -->
                <div class="col-lg-8">

                    <!-- Title -->
                    <a href="/articles/detail/{{article.id}}"><h3 class="mt-4">{{article.title}}</h3></a>

                    <!-- Author -->
                    <p class="lead">
                    {{article.author.username}} tarafından yayınlandı.
                    </p>

                    <hr>
                    <!-- Date/Time -->
                    <p>{{article.created_date}}</p>

                    <hr>

                    <!-- Preview Image -->
                    
                    {% if article.image %}
                        <a href="/articles/detail/{{article.id}}"><img class="img-fluid rounded" src="{{article.image.url}}" alt="Kaynak Bulunamadı"></a>
                    {% endif %}

                    <hr>

                    <!-- Post Content -->
                    <p class="lead">{{article.content|safe|truncatewords:25}}</p>
                    <a style = "display:block; margin: auto; width: 35%;" class="btn btn-danger" href="/articles/detail/{{article.id}}">Devamını Oku</a>
                    <hr>

                </div>
            </div>
        </div>
        <!-- /.row -->
    {% endfor %}
{% else %}
    <div class="alert alert-danger">
        Bu Blogda Herhangi Bir Makale Bulunmuyor!    
    </div>
{% endif %}

{% endblock body %}
