<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Blog</title>
</head>
<body>
    {% include "includes/navbar.html" %}

    <div style="margin:100px auto 0px auto" class="container">
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class ="alert alert-{{ message.tags }}" {% endif %}>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}

        {% block body %}
          
        {% endblock body %}

    </div>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>